/*contacto*/
.title-header{
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px 30px;

}
.title-header h1{
    font-size: 50px;
}
.title-header p{
    color: var(--white);
    font-size: 20px;
}
.container-fluid{
    width: 100%;

}
.contacto{
    display: grid;
grid-template-columns: 1fr 1fr;
}

input[type="text"],[type="email"]
{
   width: 100%;
   border: 1px solid var(--gray);
   padding: 10px;
   border-radius: 8px;

}
label{
color: var(--secondary-color);
font-size: 16px; 
padding-top: 15px;
}

select{
    width: 100%;
    border: 1px solid var(--dark-gray); 
    padding: 10px;
    border-radius: 8px;
    
}
textarea{
      width: 100%;
    border: 1px solid var(--dark-gray); 
    padding: 10px;
    border-radius: 8px;
}
input[type="submit"]
{
    background: var(--main-color);
    color: var(--white);
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    
}
input[type="submit"]:hover{
    background: var(--main-color);
    
}


.contacto{
    padding: 30px 30px ;
}
.col{
    padding: 30px 30px ;
}


