@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
     font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}
:root{
    --main-color: #740A03;
    --secondary-color: #C3110C;
    --orange: #E6501B;
    --black: #000000;
    --gray: #30364f;
    --white: #ffffff;
}
.color{
    background-color:var(--orange);
}
.nav{
    background-color:var(--main-color);
    margin: 0px;
    justify-content: space-around;
    align-items:first baseline;
}
.nav ul{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    color:  var(--white);
    list-style: none;
    text-decoration: none ;
    transition:  0.3s;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px;
}

.nav ul li  :hover{
  background-color: var(--secondary-color)
}
.barra{
display: flex;
align-items: center;
gap: 200px;

}

.lista{
flex: 1;
}

.logo{
   margin: 0px;
   margin-left: 100px;
}

/*QUIENES SOMOS*/
.quienes-somos{
display: grid;
grid-template-columns: auto auto;
gap: 40px;
padding-top: 10px;
}
.img-responsive{
    width: 600px;
}
.col ul li{
list-style: none;
}

/*servicio*/
.servicios {
    display: grid;
}